<!DOCTYPE html>
<html lang="en">
<head>
<title>SVNIT Alumni Association</title>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script> -->
<style>
body{ 
	background: url("http://svnitalumni.com/images/bg-site-redesign.gif") repeat scroll left top rgb(255, 255, 255);
	padding-bottom: 100px
}
.container{
	/*max-width: 976px;*/
	text-align: center;
}
.logo{
margin-top: 25px;
}

</style>
  </head>
<body>
	
  <div class="container page-wrap">
	<div class=""><img class="logo" src="http://svnitalumni.com/images/bg-h1.png" alt="SVNIT Alumni Association">
{% block content %}
{% endblock %}

  </div></div>

</html>
