<!DOCTYPE html>
<html lang="en">
<head>
<title>SVNIT Alumni Association</title>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

 </head>
<body>
	
  <div class="container page-wrap">
	<div class=""><img class="logo" src="http://svnitalumni.com/images/bg-h1.png" alt="SVNIT Alumni Association">
{% block content %}
{% endblock %}

  </div></div>

</html>
